@import "_variables";

.sidebar {
  width: 100%;
  max-width: 320px;
  transition: all .5s ease;

  .nav>li {
    float: none;
  }
  .nav > li {
    padding: 0 0 0 20px;
    & > a {
      padding: 0;
    }
  }

  li {
    float: none;
    position: relative;
    padding: 0;
    transition: all .5s ease;

    &.active,
    &:hover,
    &:focus {
      background: none !important;
      a {
        background: none !important;
      }
    }
  }

  > ul > li {
    float: none;
    display: table;
    padding: 0;
  }

  a {
    display: inline-block !important;
    position: relative;
    color: $gray;
    transition: all .5s ease;

    &:hover,
    &:focus {
      color: lighten($brand-theme-color, 10%);
    }

    &:before {
      position: absolute;
      left: 0;
    }

    + ul {
      position: absolute;
      width: 100%;
      min-width: 200px;
      top: 2px;
      left: 85px;
      z-index: 1;
    }
  }

  .nav {
    li.active {
      &,
      & > a {
        color: $brand-theme-color !important;
      }

      &:before {
        content: "\27A4";
        display: inline-block;
        position: absolute;
        left: -20px;
      }
    }
  }

  ul{
    ul {
      display: none;
      font-size: 80%;
      padding-left: $space-base * 2;
    }

    li.active  ul {
      display: block;
    }

  }

  > ul > li {
    position: relative;
  }
}

.back-to-top {
  a {
    margin-left: 2px;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

